gateway/node-red.json
[
  {
    "id": "8829d0a774c010c8",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "db1be33ee0bb5558",
    "type": "serial in",
    "z": "8829d0a774c010c8",
    "name": "Meteostation",
    "serial": "79d3314c3cb6c9cb",
    "x": 150,
    "y": 340,
    "wires": [["ac9626e6956efbd8", "09b30103719f3f66", "528533c02ba65a4d"]]
  },
  {
    "id": "ac9626e6956efbd8",
    "type": "function",
    "z": "8829d0a774c010c8",
    "name": "Full text",
    "func": "return msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 340,
    "wires": [["4ccf3bbc0902b204"]]
  },
  {
    "id": "4ccf3bbc0902b204",
    "type": "ui_text",
    "z": "8829d0a774c010c8",
    "group": "d5da3e9b.46abf",
    "order": 0,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "",
    "format": "{{msg.payload}}",
    "layout": "row-spread",
    "className": "",
    "x": 610,
    "y": 340,
    "wires": []
  },
  {
    "id": "09b30103719f3f66",
    "type": "function",
    "z": "8829d0a774c010c8",
    "name": "Vlhkost",
    "func": "\nvar vlhkost = parseFloat(msg.payload.split(\" \")[1]);\nmsg.payload = vlhkost;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 420,
    "wires": [["1c649705e9295dd4"]]
  },
  {
    "id": "1c649705e9295dd4",
    "type": "ui_gauge",
    "z": "8829d0a774c010c8",
    "name": "",
    "group": "d5da3e9b.46abf",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Vlhkost",
    "label": "units",
    "format": "{{msg.payload}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "className": "",
    "x": 620,
    "y": 420,
    "wires": []
  },
  {
    "id": "528533c02ba65a4d",
    "type": "function",
    "z": "8829d0a774c010c8",
    "name": "Teplota",
    "func": "var vlhkost = parseFloat(msg.payload.split(\" \")[4]);\nmsg.payload = vlhkost;\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 420,
    "y": 500,
    "wires": [["2648c532557dfec5"]]
  },
  {
    "id": "2648c532557dfec5",
    "type": "ui_gauge",
    "z": "8829d0a774c010c8",
    "name": "",
    "group": "d5da3e9b.46abf",
    "order": 1,
    "width": 0,
    "height": 0,
    "gtype": "gage",
    "title": "Teplota",
    "label": "units",
    "format": "{{msg.payload}}",
    "min": 0,
    "max": "100",
    "colors": ["#00b500", "#e6e600", "#ca3838"],
    "seg1": "",
    "seg2": "",
    "className": "",
    "x": 620,
    "y": 500,
    "wires": []
  },
  {
    "id": "79d3314c3cb6c9cb",
    "type": "serial-port",
    "serialport": "/dev/tty.usbmodem101",
    "serialbaud": "9600",
    "databits": "8",
    "parity": "none",
    "stopbits": "1",
    "waitfor": "",
    "dtr": "none",
    "rts": "none",
    "cts": "none",
    "dsr": "none",
    "newline": "\\n",
    "bin": "false",
    "out": "char",
    "addchar": "",
    "responsetimeout": "10000"
  },
  {
    "id": "d5da3e9b.46abf",
    "type": "ui_group",
    "name": "DHT11",
    "tab": "784aac14.5c2404",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false
  },
  {
    "id": "784aac14.5c2404",
    "type": "ui_tab",
    "name": "Station",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]
